* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1366px;
  height: 768px;
  background-color: #e5e5e5;
}

.header {
  width: calc(1366px - 200px);
  height: 70px;
  background-color: #252733;
  float: right;
}

.menu {
  width: 200px;
  height: 768px;
  background-color: #363740;
  float: left;
  display: inline-block;
}

ul > li {
  width: 200px;
  height: 45px;
  text-align: center;
  padding-top: 25px;
  font-size: 13px;
  font-family: Arial;
}

ul > li > a {
  color: #a4a6b3;
  text-decoration: none;
}

li:hover {
  background-color: #3f4049;
}

.pic1 {
  width: 32px;
}

.pic2 {
  width: 24px;
}

.Logo__name {
  font-size: 20px;
  padding-left: 10px;
  padding-top: 5px;
  color: #a4a6b3;
}

.Logo {
  display: flex;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.main__content {
  height: 500px;
  width: calc(1366px - 200px - 20px);
  background-color: white;
  float: right;
  display: block;
}

.title {
  height: 120px;
  width: calc(1366px - 200px - 20px);
  float: right;
  margin-top: 20px;
}

.content {
  margin: 0 10px 0 0;
  display: block;
}

th {
  width: 100px;
}
input {
  
}

button {
  
}
h2 {
 

 
}
.bell {
  
}
.avt {

}
