* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1366px;
  height: 768px;
  background-color: #e5e5e5;
}

.header {
  width: calc(1366px - 200px);
  height: 70px;
  background-color: #252733;
  float: right;
}

.menu {
  width: 200px;
  height: 768px;
  background-color: #363740;
  float: left;
  display: inline-block;
}

ul > li {
  width: 200px;
  height: 45px;
  text-align: center;
  padding-top: 25px;
  font-size: 13px;
  font-family: Arial;
}

ul > li > a {
  color: #a4a6b3;
  text-decoration: none;
}

li:hover {
  background-color: #3f4049;
}

.pic1 {
  width: 32px;
}

.pic2 {
  width: 24px;
}

.Logo__name {
  font-size: 20px;
  padding-left: 10px;
  padding-top: 5px;
  color: #a4a6b3;
}

.Logo {
  display: flex;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.main__content {
  height: 550px;
  width: calc(1366px - 200px - 20px);
  background-color: white;
  float: right;
  display: block;
  position: relative;
  top: -30px;
}

.title {
  height: 120px;
  width: calc(1366px - 200px - 20px);
  float: right;
  margin-top: 20px;
}

.content {
  margin: 0 10px 0 0;
  display: block;
}

th {
  width: -webkit-fill-available;
  border-bottom: 1px solid #DFE0EB;
}

input {
  width: 250px;
  height: 40px;
  position: relative;
  top: 15px;
  left: 470px;
  border-radius: 2px;
  padding-left: 20px;
  box-sizing: border-box;

}

button {
  width: 120px;
  height: 40px;
  position: relative;
  top:15px;
  left: 480px;
  background-color: #282932;
  border-radius: 2px;
  border: 1px solid white;
  
}
h3 {
  color: #FFFF;
  font-size: 14px;
  position: relative;
  top: -20px;
  left: 950px;
}
h4{
  color: #FFFF;
  position: relative;
  top: -18px;
  left: 930px;
  font-size: 10px;
  font-family: Arial;


}
.bell {
  width: 20px;
  height: 20px;
  position: relative;
  top: -65px;
  left: 850px ;

  
}
.avt {
  border-radius: 50%;
  position: relative;
  top: -56px;
  left: 1110px;

}
.tieude{
  border-bottom: 1,5px solid #DFE0EB;
  color: #9FA2B4;
}
h2{
  position: relative;
  top: -590px;
  font-size: 19px;
  font-family: Arial;
}

p{
  position: relative;
  top: -580px;
  font-size: 15px;
  color: #252733;
  font-family: Arial;
}
.glass{
  position: relative;
  top: -684px;
  left: 462px;
  color: grey;

}
.x{
  position: relative;
  color: grey;
  top: -703px;
  left: 690px;
}
